.destination__text {
  z-index: 1;
  order: 1;
  align-self: flex-end;
  margin-top: calc(-1 * var(--space-sm));
  max-width: 50%;
  font-size: 14px;
  line-height: 1.5;
  color: #ffcfdf;
  text-align: left;

  @media (--mq-small) {
    width: 130px;
    margin-top: calc(-1 * var(--space-md));
    margin-right: var(--space-lg);
  }
}
