.video_primary .video-js {
  color: white;
}

.video_primary .vjs-big-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 53px;
  height: 53px;
  font: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  color: inherit;
  text-align: center;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--secondary-color);
  background-image: resolve("./img/common/play.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 14px 14px;

  @media (--mq-small) {
    transform: translate(calc(-50% - 67.5px - var(--space-sm)), -50%);
  }
}

.video_primary .vjs-big-play-button .vjs-icon-placeholder {
  display: none;
}

.video_primary .vjs-big-play-button::before {
  content: none;

  @media (--mq-small) {
    content: "Смотреть видео";
    position: absolute;
    top: 50%;
    left: 100%;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    width: 135px;
    margin-left: var(--space-md);
    transform: translateY(-50%);
  }
}

.video_primary .vjs-paused .vjs-poster {
  filter: brightness(40%);
}
