.interesting-facts__item {
  position: relative;
  flex-shrink: 0;
  width: 135px;
}

.interesting-facts__item:not(:last-child) {
  margin-right: var(--space-xl);

  @media (--mq-small) {
    margin-right: 80px;
  }
}

.interesting-facts__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(var(--space-xl) / -2);
  width: 1px;
  height: 50px;
  background-color: rgba(225, 36, 87, 0.15);
  transform: translate(50%, -50%);
}
