.button_glowing-white {
  color: #c2529a;
  background-color: white;
  transition: box-shadow 0.5s ease-in-out;
}

.button_glowing-white:focus,
.button_glowing-white:hover {
  box-shadow: 0 0 1.7rem 0 white;
}
