.about-mars__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: calc(-1 * var(--space-lg));

  @media (--mq-small) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 0;
    margin-right: calc(-1 * var(--space-lg));
  }
}
