.destination__planet {
  font-weight: 700;
  font-size: 70px;
  letter-spacing: 2px;
  color: white;

  @media (--mq-small) {
    font-size: 157px;
    letter-spacing: 4px;
    line-height: 1;
  }

  @media (--mq-medium) {
    font-size: 195px;
    letter-spacing: 5px;
  }
}
