.site-navigation-toggler {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  font-size: 1.125rem;
  line-height: 1.33;
  color: inherit;
  text-align: center;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
