.page-footer {
  padding-top: 48px;
  padding-bottom: 36px;
  color: white;
  background-color: #aa3078;
  background-image: resolve("./img/mobile/footer-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (--mq-small) {
    padding-top: 80px;
    padding-bottom: 50px;
    background-image: resolve("./img/tablet/footer-bg.jpg");
  }

  @media (--mq-medium) {
    padding-top: 113px;
    background-image: resolve("./img/desktop/footer-bg.jpg");
  }
}
