.interesting-facts__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  list-style: none;
  overflow-x: auto;

  @media (--mq-small) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
