.project-idea__quote {
  position: relative;
  margin: 0;
  margin-bottom: var(--space-lg);
  padding-top: 30px;
  padding-left: 10px;
  font-size: 18px;
  line-height: 1.333;
  font-style: normal;
  font-weight: 300;
  color: var(--secondary-color);

  @media (--mq-small) {
    max-width: 70%;
    margin-top: var(--space-md);
  }
}

.project-idea__quote::before {
  content: "“";
  position: absolute;
  font-family: Garamond, Georgia;
  height: 60px;
  top: 0;
  left: 0;
  line-height: 1;
  font-size: 60px;
  overflow: hidden;
}
