.page-header {
  padding-bottom: 32px;
  color: white;
  background-color: #7b1465;
  background-image: resolve("./img/mobile/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media (--mq-small) {
    padding-bottom: 38px;
    background-image: resolve("./img/tablet/header-bg.jpg");
  }
}
