.project-idea__head {
  order: -1;
  margin: 0;
  margin-bottom: var(--space-lg);
  font-size: 24px;
  line-height: var(--header-line-height);
  color: black;
  font-weight: 700;

  @media (--mq-medium) {
    margin-bottom: var(--space-md);
  }
}
