.destination__header {
  margin: 0;
  margin-bottom: var(--space-lg);
  font-size: 13px;
  line-height: var(--header-line-height);
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  text-align: center;

  @media (--mq-small) {
    font-size: 30px;
    color: rgb(255, 207, 223);
    letter-spacing: 1px;
    margin-bottom: var(--space-xl);
  }

  @media (--mq-medium) {
    font-size: 36px;
  }
}
