.about-mars {
  position: relative;
  padding-top: 48px;
  padding-bottom: 204px;
  background-image: resolve("./img/mobile/rocket-way.svg");
  background-position: 69% 100%;
  background-repeat: no-repeat;

  @media (--mq-small) {
    padding-top: 60px;
    padding-bottom: 300px;
    background-image: resolve("./img/tablet/rocket-way.svg");
    background-size: cover;
  }

  @media (--mq-medium) {
    padding-top: 78px;
    padding-bottom: 270px;
    background-image: resolve("./img/desktop/rocket-way.svg");
  }
}
