.tabs_with-timeline .tabs__item {
  color: var(--secondary-color);

  display: grid;
  grid-template-columns: 32px 1fr;
  grid-template-rows: 8px 16px 32px;
  grid-template-areas:
    "before-line ."
    "point control"
    "after-line control";
}

.tabs_with-timeline .tabs__item_selected {
  grid-template-rows: 8px 16px 48px;
}

.tabs_with-timeline .tabs__item:last-child {
  grid-template-rows: 8px 16px auto;
}

.tabs_with-timeline .tabs__link {
  grid-area: control;
  margin-bottom: auto;
  margin-right: auto;
}

.tabs__item_selected .tabs__timeline-point {
  background-color: var(--secondary-color);
}

.tabs__item:first-child .tabs__timeline-before-line,
.tabs__item:last-child .tabs__timeline-after-line {
  display: none;
}
