.tabs_with-timeline .tabs__list {
  flex-direction: column;

  @media (--mq-small) {
    flex-direction: row;
  }
}

.tabs_with-timeline .tabs__item {
  color: var(--secondary-color);

  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 16px 50px;
  grid-template-areas:
    "point control"
    "line control";

  @media (--mq-small) {
    grid-template-columns: 16px 100px;
    grid-template-rows: 16px auto;
    grid-template-areas:
      "point line"
      "control control";
  }
}

.tabs_with-timeline .tabs__item_selected {
  grid-template-rows: 16px 70px;

  @media (--mq-small) {
    flex-grow: 1;

    /* Resets to default on tablet */
    grid-template-rows: 16px auto;
    grid-template-columns: 16px auto;
  }
}

.tabs_with-timeline .tabs__item:last-child {
  grid-template-rows: 16px auto;

  @media (--mq-small) {
    /* Resets to default on tablet */
    grid-template-rows: 16px auto;
    grid-template-columns: 16px auto;
  }
}

.tabs_with-timeline .tabs__link {
  grid-area: control;
  margin-bottom: auto;
  margin-right: auto;

  @media (--mq-small) {
    margin-bottom: 0;
    margin-top: var(--space-md);
  }
}

.tabs__item_selected .tabs__timeline-point {
  background-color: var(--secondary-color);
}

.tabs__item:last-child .tabs__timeline-line {
  display: none;
}
