.project-idea {
  padding-top: 95px;
  padding-bottom: 48px;

  @media (--mq-small) {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  @media (--mq-medium) {
    padding-top: 130px;
    padding-bottom: 40px;
  }
}
