.caveats-of-flight__section-header {
  margin-bottom: var(--space-lg);
  color: white;

  @media (--mq-small) {
    margin-bottom: var(--space-xl);
  }

  @media (--mq-small) {
    margin-bottom: var(--space-lg);
  }
}
