.page-footer__subscribe {
  margin-bottom: var(--space-xl);

  @media (--mq-small-max) {
    /* Eats container margin */
    margin-left: -4%;
    margin-right: -4%;
  }

  @media (--mq-small) {
    order: -1;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 340px;
  }

  @media (--mq-small) {
    width: 393px;
  }
}
