.page-footer__info {
  margin-bottom: var(--space-xl);

  @media (--mq-small) {
    flex-grow: 1;
    width: 300px;
    margin-left: var(--space-lg);
    margin-bottom: 0;
  }

  @media (--mq-medium) {
    margin-left: var(--space-xl);
  }
}
