.page-header__scroll-down {
  margin-top: var(--space-lg);
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(225, 36, 87, 0.5);
  background-image: resolve("./img/common/scroll-down-triangle.svg");
  background-position: 50% 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;

  @media (--mq-small) {
    width: 75px;
    height: 75px;
    background-size: 23px 22px;
  }
}
