.flight-cost__footer {
  display: flex;
  flex-direction: column;
  margin: 0;

  @media (--mq-small) {
    clear: both;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (--mq-medium) {
    margin-left: -35px;
    justify-content: center;
  }

  @media (--mq-large) {
    clear: none;
    justify-content: flex-start;
    margin-left: 0;
  }
}
