.project-idea__inventor {
  width: 200px;
  margin-top: var(--space-lg);
  margin-bottom: var(--space-xs);
  margin-left: auto;
  margin-right: auto;

  @media (--mq-small) {
    float: right;
    margin: 0;
    margin-left: var(--space-md);
  }
}
